apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_NAME}
  namespace: ${K8S_NAMESPACE}
spec:
  selector:
    app: ${SERVICE_NAME}
  ports:
    - port: 80
      targetPort: 3000
  type: ClusterIP
